* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;

  --color-light: rgba(255, 255, 255, 0.87);
  --color-dark: #3b3b3b;

  --bs-body-color-light: #fff;
  --bs-body-color-dark: #3b3b3b;
  --bs-body-bg-light: #fff;
  --bs-body-bg-dark: #3b3b3b;

  --bs-tertiary-bg: #1967D2;
  /* --bs-tertiary-bg: ##99c8ff; */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-size: 62.5%;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-light);
  background-color: var(--color-dark);

  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-size: 1.6rem;
}

.mt-page {
  margin-top: 70px;
}

.form-control {
  font-size: 1.6rem !important;
  color: var(--bs-body-color-light);
  background-color: var(--bs-body-bg-dark);
}

.btn {
  --bs-btn-font-size: 1.6rem !important;
}

.dropdown-menu {
  --bs-dropdown-font-size: 1.6rem !important;
  --bs-dropdown-color: var(--bs-body-bg-light);
  --bs-dropdown-bg: var(--bs-body-bg-dark);
  --bs-dropdown-link-hover-bg: var(--bs-tertiary-bg);
}

.dropdown-item {
  color: var(--bs-body-bg-light);
}

select {
  border: 0px;
  background-color: var(--color-dark);
  color: var(--color-light);
  cursor: pointer;
  width: 100%;
}

@media (prefers-color-scheme: light) {
  html,
  body {
    color: var(--color-dark);
    background-color: var(--color-light);
  }

  select {
    background-color: var(--color-light);
    color: var(--color-dark);
  }

  .form-control {
    color: var(--bs-body-color-dark);
    background-color: var(--bs-body-bg-light);
  }

  .dropdown-menu {
    --bs-dropdown-color: var(--bs-body-bg-dark);
    --bs-dropdown-bg: var(--bs-body-bg-light);
  }

  .dropdown-item {
    color: var(--bs-body-bg-dark);
  }
}
